@import "../../styles/Fonts.scss";

.path {
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-text {
  font-family: $title-font;
  font-variant: small-caps;
}
