@import "../../styles/Colors.scss";

.account {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;
  .main-section {
    padding: 10rem;
    display: flex;
    height: 100%;
    aside {
      width: 20rem;
      float: left;
      a {
        text-decoration: none;
        color: $font-color-light;
        li {
          list-style-type: none;
          padding: 2rem;
          border-bottom: 0.1rem solid $font-color-light;
        }
        &:hover,
        &.active {
          li {
            background-color: $font-color-light;
            color: $font-color-dark;
            border-radius: 0.5rem;
          }
        }
      }
    }
    article.content {
      width: calc(100% - 20rem);
      display: flex;
      justify-content: center;
    }
  }
}
