@import "../../styles/Colors.scss";

.orders {
  height: fit-content;
  width: fit-content;
  th {
    font-variant: small-caps;
  }
  .order {
    td {
      padding: 1rem;
    }
  }
  .separator {
    td {
      background-color: $font-color-light;
      height: 0.2rem;
    }
  }
}
