@import "../../styles/Colors.scss";

.container {
  perspective: 30rem;
  width: 20rem;
  height: 30rem;

  a {
    text-decoration: none;
    color: $font-color-light;
  }

  .card {
    background-color: $font-color-dark;
    transition: rotate 400ms, scale 200ms;
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;

    &:hover {
      cursor: pointer;
      rotate: y 10deg;
      scale: 1.05;
    }

    &:is(:hover, :focus) {
      .image {
        transform: scale(1.1);
        filter: brightness(0.4);
      }
      .text {
        transform: scale(1.2);
        opacity: 1;
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      transition: transform 400ms, filter 400ms;
    }

    .text {
      opacity: 0;
      transition: opacity 400ms transform 400ms;
    }
  }

  .card > * {
    grid-area: main;
  }
}
