@import "../../styles/Colors.scss";

.help {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;
  ul {
    padding: 5rem;
    list-style-type: none;
    text-align: left;
    li {
      padding: 0.5rem;
      h3 {
        padding: 0.4rem;
      }
    }
    h3 {
      padding: 2rem 0;
    }
  }
}
