@import "../../styles/Colors.scss";
.spots {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;

  .map {
    height: fit-content;
    padding: 5rem;
    .leaflet-container {
      height: calc(100vh - 30rem);
    }
  }
}
