@import "../../styles/Colors.scss";

.shop {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;

  .articles {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 5rem 40rem;
    flex-wrap: wrap;
  }
}
