@import "../../styles/Colors.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(3rem);
  .navbar {
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(transparent, rgba($accent-color, 0.15));
    font-variant: small-caps;
    font-size: 2.2rem;
    font-weight: 600;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    a {
      text-decoration: none;
      color: $font-color-light;
    }

    .logo {
      display: flex;
      width: 20rem;
      justify-content: space-evenly;
      align-items: center;
    }

    .menu {
      width: 100%;
      li::after {
        content: "";
        display: block;
        height: 0.1rem;
        background-color: $bg-light-color;
        width: 0;
        transition: 0.8s;
      }
      li:hover::after,
      li:has(a.active)::after {
        width: 100%;
      }
    }

    .menu-right {
      width: 20rem;
      li::after {
        content: "";
        display: block;
        height: 0.1rem;
        background-color: $bg-light-color;
        width: 0;
        transition: 0.8s;
      }
      li:hover::after,
      li:has(a.active)::after {
        width: 100%;
      }
    }
  }
}
