@import "../../styles/Colors.scss";

.contact {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;

  .form {
    padding: 10rem 50rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
