@import "../../styles/Colors.scss";
.about {
  height: calc(100% - 20rem);
  width: calc(100% - 20rem);
  background: $bg-dark-color;
  padding: 10rem;
  text-align: center;
  h3 {
    padding: 5rem;
  }
  p {
    padding: 0 40rem;
    text-align: left;
    text-wrap: pretty;
  }
}
