.dashboard {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-auto-rows: 30rem;
  grid-auto-flow: row dense;
  justify-content: center;
}
