@import "styles/Colors.scss";
@import "styles/Fonts.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $text-font;
  font-size: 1.4rem;
  color: $font-color-light;
  background: $bg-dark-color;
  background-image: url(./assets/main_bg.jpeg);
  background-size: cover;
  overflow-y: hidden;
  h1,
  h2,
  h3 {
    font-family: $title-font;
    font-variant: small-caps;
  }

  h1 {
    font-weight: 700;
    font-size: 10rem;
    line-height: 9rem;
  }
}

input {
  font-family: $text-font;
  font-size: 1.4rem;
  height: 3rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  &[type="submit"] {
    font-variant: small-caps;
    font-size: 1.6rem;
    background-color: $font-color-dark;
    color: $font-color-light;
    height: 5rem;
    &:hover {
      background-color: $font-color-medium;
    }
  }
}

textarea {
  font-family: $text-font;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: 20rem;
}
